parameters:
    level: 9
    paths:
        - app
        - tests
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Class .* uses generic trait .* but does not specify its types: TFactory#'
        - '#Call to an undefined method .+CompanyModel::(findOrFail|find|where|destroy)\(\)#'
        - '#Access to an undefined property .+CompanyModel::\$(id|name|email|password|remember_token)#'
        - '#Cannot access offset .* on mixed#'
        - '#Parameter .* of class .* constructor expects .* mixed given#'
        - '#Property .* has no type specified#'
        - '#Parameter .* of class .* constructor expects .* Mockery\\MockInterface given#'
        - '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::(once|andReturn|andReturnSelf)\(\)#'
        # - '#Return type of call to method .* contains unresolvable type#'
        - '#Cannot call method value\(\) on App\\Domain\\ValueObjects\\CompanyId\|null#'
        - '#Call to an undefined static method App\\Infrastructure\\Models\\CompanyModel::create\(\)#'
        - '#Call to an undefined method App\\Domain\\RepositoryInterfaces\\CompanyRepositoryInterface::shouldReceive\(\)#'
        - '#Property .* does not accept Mockery\\MockInterface#'
